.container {
    width: 95%;
    max-width: 980px;
    color: #707070;
    margin: 0 auto;
} 


body {
    font-size: 1.125rem;
       color: #707070;
       margin: 0;  
}

.columns {
    display: flex;
    margin: 1em 0;
    justify-content: space-between;
    align-items: flex-start;
}

/* Typography */
h1 {
    font-size: 3rem;
    color: #312614; 
    text-align: center;
}

h2 {
    font-size: 1.5rem; 
}

p {
    margin-top: 0; 
}

span {
    color: #B7832F;
}

img {
    width: 980px;
}

.col-bg {
    background: #312614;
    color: #fff;
    padding: 1em; 
}

.col-1 {
    width: 20%;
}

.col-2 {
width: 45%;
}

.col-3 {
width: 70%;
}

/* media queries */
@media (max-width: 600px) {
    .columns {
        flex-direction: column;
    }
    
    .col-1,
    .col-2,
    .col-3 {
        width: 100%;
    }
}

